<% include partials/header.ejs %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
				<img src="assets/latelist.png" style="max-width: 100%; background: black; padding: 15%;"/>
		</div>
		<div class="col-md-3">
		</div>
	</div>

	<hr class="col-xs-12">

    <div class="row" style="padding: 0 15% 15% 15%;">
		<div class="col-md-4">
			<h3>
				Project<br/>Information
			</h3>
		</div>
		<div class="col-md-4">
			<p>
				github: <a href="https://github.com/dmanexe/latelist">dmanexe/latelist</a>
			</p>
		</div>
		<div class="col-md-4">
			<p>
				Do you want to get involved? There are some new features I want to add.
			</p>
			<ul>
				<li>Map</li>
				<li>Accounts</li>
				<li>RSS Feed</li>
				<li><a href="https://en.wikipedia.org/wiki/Internationalization_and_localization">i18n</a></li>
			</ul>
		</div>
	</div>
</div>

</div>
</body>
</html>