<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (spot) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">


            <button type="submit" class="btn btn-success float-right">Update Spot</button>
        </form>
    <% } else { %>
        <p class="text-center">Spot Not Found. Go <a href="/add">here</a> to add a spot.</p>
    <% } %>
</div>
</div>
</body>
</html>